<div class="row">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="blog-title"><Title></Title></label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-description">Content</label>
        <input class="form-input" type="number" id="post-description" name="post-description" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if blogpost.length}}
  <div class="col-md-6 project-list">
    <h3>Previous Post:</h3>

    {{#each blogpost as |blogpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogpost/{{blogpost.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>